//*==============================/ " Подключение шрифтов " /==============================*//

   //*========/ " Poppins " /========//

//* @import url('') ↓ 


//* &display=swap

// thin: 100
// extra-light: 200
// light: 300
// regular: 400 
// medium: 500 
// semi-bold: 600 
// bold: 700 
// extra-bold: 800 
// black: 900

//*==============================/ " Переменные " /==============================*//

   //*========/ " Настройка шрифтов " /========//

$fontFamily: 'Open Sans'; //* Шрифт по умолчанию
$fontSize: 14px; //* Размер шрифта по умолчанию
$fontColor: #000; //* Цвет шрифта по умолчанию

   //*========/ " Настройка цвета background " /========//

$bgColor: #fff;

   //*========/ " Настройка цветов " /========//

$black: #000; //* Цвет по умолчанию
$white: #fff; //* Цвет по умолчанию
$orange: rgb(206, 98, 15); //* Цвет по умолчанию

   //========/ " Минимальная ширина страницы " /========//

$minWidth: 320px;

   //*========/ " Ширина котейнера " /========//

$maxWidthContainer: 1200px; // Ширина контейнера

   //========/ " Общий отступ " /========//

$containerPadding: 30px; // (30 = по 15px слева и справа, 0 = нет отступа)

   //========/ " Тип адаптива " /========//

// 1 = отзывчивость (у контейнера нет брейкпоинтов)
// 2 = по брейк поинтам (контейнер меняет свою ширину по брейк поинтам)
$responsiveType: 1;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

//==============================/ " Брейк поинты " /==============================*//

$md1: $maxWidthContainer + 12px; //ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md2: 992px; //Планшеты, некоторые телефоны в горизонтальном положении
$md3: 768px; //Телефоны L
$md4: 432px; //Телефоны S

// 992, 768, 576, 432 (кратные 16)

//==============================/ " ОСновная сетка " /==============================*//

._container {
   max-width: $maxWidthContainer;
   margin: 0 auto;
}

//==============================/ " body " /==============================*//

body{
   font-family: $fontFamily;
   color: $fontColor;
   background-color: $bgColor;
   font-size: $fontSize;
   overflow-x: hidden;
}

//==============================/ " wrapper " /==============================*//

.wrapper{
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden
   // Сайт загрузки
}

//==============================/ " Компоненты файлы стилей " /==============================*//

@import "./components/_nullstyle";
@import "./components/_mixins";
@import "./components/_icons";
@import "./components/_fonts";

@import "./components/forms/_buttons";

//==============================/ " Файлы стилей " /==============================*//

@import "./components/_header";
@import "./_base";
@import "./_index";

@import "./components/_footer";

//==============================/ " Основной блок " /==============================*//
.page {
   flex: 1 1 auto;
}



